svg {
  color: black;
  border-radius: 0.5em;
}
svg .background {
  color: #eee;
}
svg .tick {
  color: #333;
}
svg .domain {
  color: blue;
}
svg path {
  color: darkblue;
}
svg rect {
  color: #aaa;
}
svg .bin{
  color: darkblue;
}